{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

      {% block main %}

    <!-- First Section -->
    <section class="first-section">
        <div class="left-content">
            <h1 style ="color: #537fbe;">Empower Your Elections</h1>
            <h5>Simple, secure, and efficient.</h5>
        </div>  
        <div class="right-content">
          <br><br>
            <form action="/login" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email"
                        placeholder="Email Address" type="text">
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password"
                        type="password">
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>
            </form>
            <br>
                <div class="mb-3">
                    <a class="nav-link" href="/register">Not registered? Click to sign up</a></div>
                    <br><br>
        </div>
    </section>

   
{% endblock %}

